* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.top {
	flex-grow: 1;
	background-color: bisque;
}

.footer {
	height: 100px;
	background-color: darkgrey;
	text-align: center;
	line-height: 100px;
	font-size: 20px;
}
